* {
    font-family: "Open Sans", sans-serif;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact {
    min-height: 100vh;
    padding: 2rem 1rem 1rem 1rem;
}
.contact .icon {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.contact-title {
    font-size: 20px;
    font-weight: 500;
}
.icon a {
    margin: 0 !important;
    color: black;
}
.icon-here {
    margin-top: 1rem;
}
.contact-content-container {
    display: flex;
    margin-top: 2rem;
}
.contactInfo,
.contact-form {
    flex: 1;
}
.inputBox input,
.inputBox textarea {
    outline: none;
    padding: 0.5rem;
}
.contact-form-title {
    margin-bottom: 0.5rem;
    font-size: 25px;
}
.inputBox {
    margin-bottom: 0.6rem;
    display: flex;
    flex-direction: column;
}
.submit {
    padding: 0.6rem 0;
}
@media all and (max-width: 768px) {
    .contact-content-container {
        flex-direction: column;
    }
}
