* {
    font-family: "Open Sans", sans-serif;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

image {
    float: left;
}
.heading {
    text-align: center;
}
.column {
    float: left;
    width: 33.33%;
    padding: 50px;
    vertical-align: top;
}

.row {
    content: "";
    display: table;
    clear: both;
}
